/* Pre-defined */
body {
    font-family: 'Montserrat';
}
h1, .cta-h3 {
    font-family: 'Montserrat-Black';
    font-weight: bold;
}
h2, h3 {
    font-family: 'Montserrat-Bold';
    font-weight: bold;
}

/* Repetitive */
#title, .cta-div{
    background-color: #FF4C68;
}
#features, .footer-div {
    background-color: #FFF;
}
.H3Features, .features-para, #testimonials, #press, #pricing, .cta-div, .cta-h3, .footer-div {
    text-align: center;
}
#title, #testimonials,.cta-h3 {
    color: #fff;
}
#testimonials, #press {
    background-color: #EF8172;
}
#features, .carousel-item {
    padding: 7% 15%;
}
.features-para, .cta-h3, .footer-icon-row {
    margin: auto;
}
.features-para, .footer-copy {
    color: #8F8F8F;
}

/* Title */
.title-h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-stretch: ultra-expanded;
}
.container-fluid {
    padding: 3% 15% 5%;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar {
    padding: 0 0 4.5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-Link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}
.download-button {
    margin: 5% 3% 5% 0;
}
.title-img {
    transform: rotate(25deg);
    width: 20%;
    position: absolute;
    right: 30%;
}
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}

/* Features */
#features{
    position: relative;
}
.features-h3 {
    font-size: 1.5rem;
}
.features-para {
    width: 75%;
}
.feature-img {
    color: #EF8172;
    margin-bottom: 1rem;
}
.feature-img:hover {
    color: #FF4C68;
}

/* Testimonials */
.testimonial-h2 {
    font-size: 4rem;
    line-height: 1.5;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */
#press {
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
    padding: 100px;
}
.pricing-column {
    padding: 3% 2%;
}
.pricing-h2 {
    font-size: 4rem;
    line-height: 1.5;
}

/* Call to Action */
.cta-div {
    padding: 3% 0;
}
.cta-h3 {
    width: 40%;
    line-height: 1.5;
    font-size: 2.5rem;
}
.download-button1 {
    margin: 2% 1% 0;
}

/* Footer */
.footer-div {
    padding: 2% 0;
}
.footer-icon-row {
    width: 8%;
}
.footer-icon-col{
    width: 2%;
}
